/* 
	Color palette :
	http://paletton.com/#uid=72+0u0kw0mnnFtTtSrgDOi0NhcA

	Bootstrap theme:
	http://getbootstrap.com/customize/?id=ad58abe44451f64ae22d
	
*/



body {
/*
background-color: #2CA866;
background-image: linear-gradient(#2CA866, #0A9A4D 5%, #2CA866);
*/

background-color: #A6DEC1;
background-image: linear-gradient(#A6DEC1, #007E3A 5%, #A6DEC1);
}

/* Carousel styles */
.item > img.slide-image {
    margin-left: auto;
    margin-right: auto;
    max-height: 350px;
}

.carousel-control,
.item >img {
    border-radius: 8px;
}

/* Management page */
.management-item img {
  height: 150px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}

body {
    padding-top: 60px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    padding-bottom: 30px; /* Required for the footer*/
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}



@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
        padding-bottom: 30px; /* Required for the footer*/
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

#gallery-container img {
  height: 100px;
}




